<!--<p>carrito works!</p>-->

<!--contingut del carrito, titol y selectors de compra-->

<p></p>
<h5>¿Que vols fer?</h5>
<div class="container">
  <p></p>
  <div class="form-check">
    <input type="checkbox" (click)="acumular($event)" value="paginaWeb" class= form-check-input>
    <label class="form-check-label">una pàgina web (500€)</label>
  </div>
  <ng-template [ngIf] = paginaWebDespliega>
    <app-panell></app-panell>
  </ng-template>
  <p></p>
  <div class="form-check">
    <input type="checkbox" (click)="acumular($event)" value="seo" class= form-check-input>
    <label class="form-check-label">una consultoria SEO (300€)</label>
  </div>
  <p></p>
  <div class="form-check">
    <input type="checkbox" (click)="acumular($event)" value="googleAds" class= form-check-input>
    <label class="form-check-label">una campanya de Google Ads (200€)</label>
  </div>
  <p></p>
  <p></p>
  <h5>Preu: <strong>{{precio}}</strong></h5>
  <p></p>
</div>