<!--<p>benvinguda works!</p>-->

<div class="background container-fluid d-flex justify-content-center align-items-center" style="height:80vh; background-image: url(../../../assets/background.jpg);
background-size:cover; background-repeat: repeat; background-position: 50%; overflow: auto">

    <div class="inicial" style="text-align:center">
        <img src="../../../assets/clippy.gif" style="width: 20%" alt="logo">
        <h1>¡Benvingut!</h1>
        <h5 class= "text-white bg-dark p-2">¡Clica el botó "iniciar" per començar amb el teu pressupost!</h5>
        <p></p>
        <button type="button" (click)="navegar()" class="btn btn-danger" style="justify-content: center">Iniciar</button>
    </div>
</div>


<!--background-image: url(../../../assets/background.jpg);-->