<h1>Contador</h1>
<h3>la base es:<strong>{{base}}</strong></h3>
<!--<button (click)="numero = numero + 1;">+1</button>
<span>{{numero}}</span>
<button (click)="numero = numero - 1;">-1</button>-->

<!--<button (click)="sumar()">+1</button>
<span>{{numero}}</span>
<button (click)="restar()">-1</button>-->

<!--<button (click)="acumular(5)">+5</button>
<span>{{numero}}</span>
<button (click)="acumular(-5)">-5</button>-->

<button (click)="acumular(base)">+5</button>
<span>{{numero}}</span>
<button (click)="acumular(-base)">-5</button>
