<!--<app-carrito></app-carrito>-->
<p></p>


<div class="principal container text-center align-items-center justify-content-center" style="height:50vh">
<h5 class="text-white bg-dark p-2">¿Que vols fer?</h5>
  <p></p>
  <div class="form-check-control">
    <input type="checkbox" (change)="pWebCbox($event)"value="pWeb" class= form-check-input>
    <label class="form-check-label">&nbsp; una pàgina web (500€)</label>
        <ng-template [ngIf] = paginaWebDespliega class="justify-content-center">
            <app-panell> (incloure)="precioWebTotal($event)"</app-panell>
        </ng-template>
  </div>

  <p></p>
  
  <div class="form-check-control">
    <input type="checkbox" (change)="seoCbox($event)" value="seoW" class= form-check-input>
    <label class="form-check-label">&nbsp; una consultoria SEO (300€)</label>
  </div>

  <p></p>
  
  <div class="form-check-control">
    <input type="checkbox" (change)="gAdsCbox($event)" value="gAds" class= form-check-input>
    <label class="form-check-label">&nbsp; una campanya de Google Ads (200€)</label>
  </div>

  <p></p>
  <p></p>

  <h5>Preu: <strong>{{this.ServicioService.presupuestoTotal()}} Euros</strong></h5>
  <br>
  <br>
  <br>
  <app-tornar></app-tornar>