<!--<p>panell works!</p>-->


<!--BOTON NUMERO DE PAGINAS-->

    <div class="desplegablePanel pt-1 pb-3 rounded border border-info">
    <div class="form-group row">
        <div class="col  justify-content-center">
            <label for="number" class="col-form-label">Número de páginas</label>
        <div>
        <div class="col-sm justify-content-center">
            <button (click)="acumularPaginas(baseP)" class="btn btn-primary m-1">+</button>
            <input [(ngModel)]="paginas" type="number" value="{{numeroP}}" id="LabelNumPag"  class="form text-center" (change)="this.ServicioService.calcTotalModWeb(paginas, idiomas)"(change)="incloureActiu()">
            <button (click)="restarPaginas(-baseP)" class="btn btn-primary m-1">-</button>

        <div>
    </div>


<!--BOTON NUMERO DE IDIOMAS-->

    <div class="form-group row">
        <div class="col-sm  justify-content-center">
            <label for="number" class="col-form-label">Número de idiomas</label>
        <div>
        <div class="col justify-content-center">
            <button (click)="acumularIdiomas(baseI)" class="btn btn-primary m-1">+</button>
            <input [(ngModel)]="idiomas" type="number" value="{{numeroI}}" id="labelNumIdiom" class="form text-center" (change)="this.ServicioService.calcTotalModWeb(paginas, idiomas)"(change)="incloureActiu()">
            <button (click)="restarIdiomas(-baseI)" class="btn btn-primary m-">-</button>
        <div>
    </div>
<!--<input type="number" value="{{numero}}">-->
</div>

