.div{
    text-align: center;
    justify-content: center;
}

.label{
    justify-content: center;
    text-align: center;
}

.desplegablePanel{
    text-align: center;
}

.input{
    text-align: center;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

input::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }