.div{
    text-align: center;
    justify-content: center;
}

.label{
    justify-content: center;
    text-align: center;
}

.desplegablePanel{
    text-align: center;
}

.input{
    text-align: center;
}


input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }


.modal.show{
    display: block;
    background-color: rgb(0, 0, 0, .5);
}

.button{
    margin: 0;
    padding: 0;
}
